/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: adobe-garamond-pro;
  scroll-behavior: smooth;
  color: rgba(26, 26, 26, 0.9);
}

body {
  background-color: #FFFAFA;
}

#topnav {
  position: fixed;
  padding: 16px 16px;
  width: 100%;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#heading {
  float: left;
  display: block;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  letter-spacing: 2px;
}

#topnav ul {
  display: block;
}

#topnav li {
  display: inline-block;
  padding: 5px 0px;
  margin: 0px 15px;
  font-size: medium;
  color: black;
  border-bottom: 1px solid transparent;
}
#topnav li.active {
  font-weight: bold;
}

#topnav li a {
  color: inherit;
  text-decoration: none;
}

#topnav li:hover {
  cursor: pointer;
  border-bottom: 1px solid black;
}

#profile {
  height: 600px;
  width: 100%;
  padding: 220px 50px;
  border: 2px solid black;
  text-align: center;

}
#profile a {
  display: block;
  font-size: xx-large;
}
#profile li {
  height: 25px;
  width: 25px;
  padding: auto;
  display: inline-block;
  border: 1px solid black;
  background-color: aliceblue;
  border-radius: 100%;
  cursor: pointer;
}
#profile i {
  font-size: x-large;
  margin: 5px 5px;
  cursor: pointer;
  color: black;
}
#profile .fa-envelope:hover {
  color: #b49b0c;
}
#profile .fa-twitter:hover {
  color: #1DA1F2;
}
#profile .fa-github:hover {
  color: #171515;
}
#profile .fa-linkedin:hover {
  color: #0077B5;
}

#name {
  font-size: 1000px;
  font-weight: bolder;
}

#links a {
  display: inline-block;
}

#education, #experience, #certications, #projects, #aboutme {
  border-bottom: 2px solid black;
  padding: 10px 200px;
  margin: 10px 0px;
}
#aboutme {
  min-height: 250px;
}
#experience li,#aboutme .section-body p {
  font-size: larger;
}
@media only screen and (max-width: 600px) {
  #heading {
    font-size: medium;
  }
  #topnav li {
    padding: 5px 0px;
    margin: 0px 2px;
    font-size: small;
  }
  #education, #experience, #certications, #projects, #aboutme {
    border-bottom: 2px solid black;
    padding: 10px 0px;
    margin: 10px 0px;
  }
  #section-heading {
    font-size: large;
  }
  #education {
    height: 200px;
  }
  #education .image {
    text-align: center;
  }
  #education .image img {
    width: 80%;
    -o-object-fit: scale-down;
       object-fit: scale-down;
  }
  #education p.school {
    font-size: 13px;
    font-weight: bold;
    font-family: adobe-garamond-pro;
  }
  #education p.year {
    font-size: 10px;
    font-weight: 100;
  }
  #education p.degree {
    font-size: x-small;
  }
  #experience, #aboutme, #certications{
    padding: 10px;
  }
  #experience li {
    font-size: small;
    margin: 2px 0px;
  }
  #projects .project-item h1 {
    font-size: small;
  }
  #projects .project-item i {
    font-size: small;
  }
  #projects .project-item p {
    font-size: x-small;
  }
  #certications .degree {
    margin: 15px 0px;
    font-size: small;
  }
  #experience li,#aboutme .section-body p {
    font-size: small;
  }
}
#education, #experience {
  min-height: 450px;
}

#education p {
  margin: 5px 0px;
}

#education .image img {
  height: 100%;
}

#education .section-body {
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#education .content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 50%;
}

p.school {
  font-size: 22px;
  font-weight: bold;
  font-family: adobe-garamond-pro;
}

p.year {
  font-size: 18px;
  font-weight: 100;
}

p.degree {
  font-size: large;
}

#section-heading {
  font-weight: bolder;
  text-align: center;
  color: black;
  margin: 5px 0px 20px 0px;
  text-transform: uppercase;
}

#experience div {
  display: flex;
  justify-content: space-between;
}

#experience li {
  margin: 5px 0px;
}

.project-section {
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-item {
  display: flex;
  flex-direction: column;
  font-family: adobe-garamond-pro;
  height: 250px;
  width: 45%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 0px 5px 20px 5px;
  padding: 15px;
}
.project-item .project-desc {
  padding: 5px 0px;
}
.project-item h1 {
  font-size: 25px;
  width: 90%;
  float: left;
  display: block;
  font-family: adobe-garamond-pro;
}
.project-item a {
  width: 10%;
  height: 100%;
  float: right;
  display: block;
  text-align: center;
}
.project-item i {
  font-size: 25px;
}
.project-item p {
  font-size: 17px;
  font-family: adobe-garamond-pro;
}

#certications .degree {
  margin: 15px 0px;
  font-weight: bold;
} */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.7);
}
h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: "Playfair Display", Georgia, serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}
.navbar {
  position: relative;
  min-height: 55px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
.navbar ul li {
  list-style: none;
  color: inherit;
}
.container-wrap {
  max-width: 1170px;
  margin: 0 auto;
}
aside {
  display: block;
}
#colorlib-aside {
  padding-top: 3em;
  padding-bottom: 40px;
  float: left;
  text-align: center;
  width: 300px;
  position: fixed;
  overflow-y: scroll;
  z-index: 1001;
  background: #f2f3f7;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
#colorlib-aside #colorlib-main-menu {
  display: block;
  width: 100%;
}
#colorlib-aside .author-img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#colorlib-aside #colorlib-logo {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 0.5em;
  display: block;
  width: 100%;
}
#colorlib-aside .position {
  display: block;
  margin-bottom: 2em;
  font-size: 12px;
  text-transform: uppercase;
}
#colorlib-aside #colorlib-main-menu ul li.active a {
  color: #2c98f0;
}
a {
  text-decoration: none;
  color: inherit;
}
#colorlib-aside #colorlib-main-menu ul li a {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  position: relative;
  padding: 10px 0;
  font-family: "Quicksand", Arial, sans-serif;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#colorlib-aside #colorlib-main-menu ul li a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0.5px;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
#colorlib-aside #colorlib-main-menu ul li a:hover::before {
  transform: scaleX(1);
}
#colorlib-aside #colorlib-main-menu ul li {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#colorlib-aside #colorlib-main-menu ul {
  text-align: center;
  margin: 0;
  padding: 0;
}
.author-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
element.style {
  height: 980px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
#colorlib-main {
  width: calc(100% - 300px);
  float: right;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#colorlib-hero {
  min-height: 500px;
  background: #fff url(../images/loader.gif) no-repeat center center;
  width: 100%;
  float: left;
  margin-bottom: 10em;
  clear: both;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
.flexslider {
  margin: 0 0 60px;
  background: #ffffff;
  border: 4px solid #ffffff;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}
.colorlib-experience, .colorlib-skills, .colorlib-education, .colorlib-blog, .colorlib-work, .colorlib-about, .colorlib-services, .colorlib-contact {
  padding-top: 4em;
  padding-bottom: 9em;
  clear: both;
  width: 100%;
  display: block;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
.colorlib-narrow-content {
  padding: 0 2.5em;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.icon-bulb:before {
  content: "\e90e";
}
.icon-globe-outline:before {
  content: "\e9df";
}
.icon-data:before {
  content: "\e921";
}
.icon-phone3:before {
  content: "\e917";
}
.services {
  /* margin-bottom: 30px; */
  margin-bottom: 80px;
  padding: 1.5em;
  -webkit-box-shadow: 0px 0px 56px -8px rgb(0 0 0 / 17%);
  -moz-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  -ms-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  -o-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 0px 56px -8px rgb(0 0 0 / 17%);
  border-bottom: 2px solid #2c98f0;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  /* speak: none; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.services .icon2 {
  display: block;
  margin-bottom: 20px;
}
.services .icon2 i {
  font-size: 30px;
  color: #2c98f0;
}
.colorlib-heading {
  font-size: 18px;
  margin-bottom: 4em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.8;
  position: relative;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.col-md-3 {
  box-sizing: border-box;
  flex: 0 0 25%;
  width: 25%;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}
.col-md-4 {
  box-sizing: border-box;
  flex: 0 0 33%;
  width: 33%;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}
.col-md-5 {
  box-sizing: border-box;
  flex: 0 0 41.6667%;
  width: 41.667%;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}
.col-md-12 {
  box-sizing: border-box;
  flex: 0 0 100%;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}
.services .icon {
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  width: 100px;
  height: 50px;
  display: table;
  margin: 0 auto;
  background: #2c98f0;
}
.services .icon i {
  font-size: 30px;
  color: #fff;
  z-index: 1;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.services .icon:after {
  bottom: -30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 50px 0 50px;
  border-color: #2c98f0 transparent transparent transparent;
}
.services .icon:before, .services .icon:after {
  position: absolute;
  left: 0;
  right: 0;
  content: '';
}
/* .services.color-3 .icon:before {
  border-color: transparent transparent #f9bf3f transparent;
}
.services.color-3 .icon:after {
  border-color: #f9bf3f transparent transparent transparent;
}
.services.color-3 .icon {
  background: #f9bf3f;
} */
.services .icon:before {
  top: -30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 30px 50px;
  border-color: transparent transparent #2c98f0 transparent;
}
.services .desc {
  margin-top: 60px;
}
.progress {
  height: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #f2f3f7;
  overflow: visible;
  margin-bottom: 20px;
  border-radius: 4px;
}
.progress-bar {
  background: #2c98f0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 12px;
  line-height: 1.2;
  color: #000;
  font-weight: 600;
  text-align: right;
  position: relative;
  overflow: visible;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.progress-bar.color-2 span {
  color: #ec5453;
}
.progress-bar span {
  position: absolute;
  top: -22px;
  right: 0;
}
.progress-bar.color-2 {
  background: #ec5453;
}
.panel-group {
  margin-bottom: 20px;
  
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 4px;
}
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  border: none;
}
.panel-default {
  border-color: #ddd;
}
.fancy-collapse-panel .panel-default > .panel-heading {
  padding: 0;
}
.panel-default > .panel-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.panel-group .panel-heading {
  border-bottom: 0;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.panel-heading a {
  padding: 20px 25px;
  display: block;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Quicksand", Arial, sans-serif;
  background-color: #2c98f0;
  color: #fff;
  position: relative;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
}
.panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a {
  color: inherit;
}
.colorlib-feature .colorlib-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  display: table;
  text-align: center;
  background: #f2f3f7;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
.colorlib-feature {
  text-align: left;
  width: 100%;
  float: left;
  margin-bottom: 40px;
  position: relative;
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.colorlib-feature .colorlib-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  display: table;
  text-align: center;
  background: #f2f3f7;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
.colorlib-feature.colorlib-feature-sm .colorlib-icon i {
  color: #2c98f0;
  font-size: 40px;
}
.colorlib-feature .colorlib-icon i {
  display: table-cell;
  vertical-align: middle;
  color: #2c98f0;
  font-size: 60px;
  height: 100px;
}
.colorlib-feature.colorlib-feature-sm .colorlib-text {
  margin-top: 30px;
}
.colorlib-feature .colorlib-text {
  padding-left: 120px;
  width: 100%;
}
form {
  display: block;
  margin-top: 0em;
}
.form-group {
  margin-bottom: 15px;
}
.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
  border: transparent;
  background: #f2f3f7;
  height: 54px;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  display: block;
  width: 100%;
  height: 42px;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
input {
  line-height: normal;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
input[type="text" i] {
  padding: 1px 20px;
}
input {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
.btn-primary {
  background: #2c98f0;
  color: #fff;
  border: 2px solid #2c98f0;
}
.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Quicksand", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 15px !important;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.work-menu span a.active {
  color: #2c98f0;
}
.project {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 300px;
  width: 100%;
  display: block;
  margin-bottom: 30px;
}
.project .desc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2c98f0;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.project .desc .con {
  padding: 20px;
  display: block;
  position: relative;
  height: 300px;
}
.project .desc h3 {
  font-family: "Quicksand", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
  margin-bottom: 15px;
}
.project .desc h3 a {
  color: #fff;
}
.project .desc .con .icon {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}
.project .desc .con .icon span {
  display: inline;
  padding-right: 5px;
}
.project .desc span {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(0, 15px, 0);
  transform: translate3d(0, 15px, 0);
}
.project .desc .con .icon span a {
  color: #333333;
  padding: 5px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.project .desc span a {
  color: #000;
}
.project .desc .con .icon i {
  font-size: 16px;
  color: #333333;
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
::selection {
  color: #fff;
  background: #2c98f0;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.js .animate-box {
  opacity: 0;
}
/*# sourceMappingURL=styles.css.map */